[defaults]
# 1. La Paresse Organisée
# Plus besoin de taper "-i inventory/hosts.ini" à chaque commande.
inventory = ./inventory/hosts.ini

# 2. Où sont rangés les cerveaux
roles_path = ./roles

# 3. Le mode "Cowboy" (Indispensable pour la migration)
# Puisque vous allez réinstaller des OS (Debian -> NixOS), l'empreinte SSH 
# du serveur VA changer. Si vous laissez ça à True, Ansible va hurler 
# "Man-in-the-middle attack" et bloquer.
host_key_checking = False

# 4. NixOS est susceptible avec Python
# Sur NixOS, python n'est pas dans /usr/bin/python. 
# "auto_silent" dit à Ansible : "Cherche python là où tu peux et tais-toi".
interpreter_python = auto_silent

# 5. Pour les yeux humains
bin_ansible_callbacks = True

# 6. Pas de vache qui parle en cas d'erreur (Sérieusement).
nocows = 1

# 7. Threads
# Combien de serveurs on attaque en parallèle (5 par défaut).
forks = 5

[privilege_escalation]
# On veut être root par défaut sur les tâches
become = True
become_method = sudo
become_user = root
# Si votre user ansible a besoin d'un mot de passe sudo (ce qu'on a désactivé dans le bootstrap),
# décommentez ceci :
# become_ask_pass = True

[ssh_connection]
# 8. Le Turbo
# Le pipelining réduit le nombre de connexions SSH nécessaires.
# C'est vital pour la vitesse, surtout avec Python.
pipelining = True

# 9. Persistance et Silence
# ControlMaster/Persist accélèrent les connexions successives.
# UserKnownHostsFile=/dev/null enterre définitivement les erreurs de clés SSH.
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no