{
    wgIp = "{{ vpn_ip }}";


    wgPeers = [
        {% for host in groups['vps'] %}
        {% if host != inventory_hostname %}
        {
            # Copain : {{ host }}
            # On va chercher la clé publique dans votre dossier local "keys/"
            publicKey = "{{ hostvars[host]['wireguard_public_key'] }}";
            allowedIPs = [ "{{ hostvars[host]['vpn_ip'] }}/32" ];
            endpoint = "{{ hostvars[host]['ansible_host'] }}:51820";
            persistentKeepalive = 25;
        }
        {% endif %}
        {% endfor %}
    ];

    ips = {
        {% for host in groups['vps'] %}
        # Syntaxe : "nom_machine" = "IP";
        "{{ host }}" = "{{ hostvars[host]['vpn_ip'] }}";
        {% endfor %}
    };

}