{
    wgIp = "{{ vpn_ip }}";


    wgPeers = [
        {% for host in groups['vps'] %}
        {% if host != inventory_hostname %}
        {
            # Copain : {{ host }}
            # On va chercher la clé publique dans votre dossier local "keys/"
            publicKey = "{{ lookup('file', 'keys/' + host + '/public') }}";
            allowedIPs = [ "{{ hostvars[host]['vpn_ip'] }}/32" ];
            endpoint = "{{ hostvars[host]['ansible_host'] }}:51820";
            persistentKeepalive = 25;
        }
        {% endif %}
        {% endfor %}
    ];

}